
<ul>
  <li> age:{{age}}</li>
  <li>email:{{email}}</li>
  <li>name:{{name}}</li>

</ul>

<button (click) = "onClick()">Click me </button>
<h1>Edit User</h1>
<div>
  <label for ='name'>Name:</label>
  <input type="text" [(ngModel)]= name>
</div>
<br>
<div>
  <label for = 'age'>Age:</label>
  <input type="number" [(ngModel)] = age>
</div>

<h1> Hobbies</h1>
<form (submit) = "addHobby(hobby.value)" >
  <div>
    <label for = "hobby">Hobby</label>
    <input type="text" #hobby>
  </div>

</form>
<ul>
  <li *ngFor = "let hobby of hobbies; let i = index">
    {{i+1+","}}:{{hobby}}<button (click) ="deleteHobby(hobby)">X</button></li>
</ul>
